body {
    margin: 0;
    padding: 0;
    background: #222;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 32px;
    color: #bbb;
    text-align: center;
}

.hover {
    cursor: pointer;
}

.app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.loading {
    color: #666;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}